.App {
  text-align: center;
}

@keyframes showAlert {
  0% {
    width: 70px;
    height : 45px;
    top : -120px;
    left : 0;
  }

  40% {
    width : 100px;
    height : 55px;
    top : 120px;
    left : calc(50vw - 50px);
  }
  100% {
    width: 70px;
    height : 45px;
    top : -120px;
    left : 100vw;
  }
}
.alert {
  animation-name: showAlert;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}
